  .jumbotron {
    text-align: center;
  }
  .jumbotron a {
    align-items: center;
  }
  .jpl_image {
    float: left;
  }

  .table {
    float: right;
    box-shadow: orangered;
  }

  /* #jpl-image { */
